.demo {
  position: relative;
  min-height: 100vh;
  padding-bottom: 25px;
}

.demo header {
  text-align: center;
}

.demo h1 {
  font-size: 2.4rem;
}

.demo label {
  text-transform: capitalize;
  font-weight: 700;
}

.demo button {
  line-height: 24px;
  padding: 0 12px;
  border: 1px solid #999;
  background-color: #f5f6f6;
  margin-right: 5px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.box {
  position: relative;
  padding: 12px 16px 16px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 3px 15px 0 rgba(0,0,0,0.19);
  margin: 20px 10px;
  width: 400px;
  min-height: 280px;
}

.box.grey {
  background-color: #f5f6f6;
}

.box .title {
  text-transform: uppercase;
}

.globalState {
  margin-left: 12px;
}

.globalState span,
.globalState ul {
  padding-left: 12px;
}

.selectWithDispatch select,
.inputWithDispatch input {
  display: block;
  width: 100%;
  margin: 5px 0;
  height: 26px;
}

.selectWithDispatch div span,
.inputWithDispatch div span {
  text-transform: capitalize;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline input {
  margin-right: 5px;
}

.demo footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  text-align: center;
  font-size: 0.8rem;
}
